<div class="catalog_container">
	<div class="page-header dog_page-header" align="center">
		<div class="header_container">
	  		<h1><small class="catalog_header">Album {{breed}}</small></h1>
	  	</div>
	</div>
	<div class="container">
	{{#each subBreeds.message as |item|}}
	    {{#ifCond @first @last}}
			    <div class="row dog_row">
			    	<div class="col-xs-12 col-md-12">
						<div class="panel panel-info dog_panel-info">
							<div class="panel-heading">
								<h3 class="panel-title dog_panel-title">{{breed}} Sub-Breeds</h3>
							</div>
							<div class="panel-body">
								<div class="btn-group dog_btn-group" role="group">
										<button type="button" class="btn btn-default dog_btn-default">{{item}}</button>
								</div>
							</div>
						</div>
					</div>
			    </div>
	    {{else if @first}}
			    <div class="row dog_row">
			    	<div class="col-xs-12 col-md-12">
						<div class="panel panel-info dog_panel-info">
							<div class="panel-heading">
								<h3 class="panel-title dog_panel-title">{{breed}} Sub-Breeds</h3>
							</div>
							<div class="panel-body">
								<div class="btn-group dog_btn-group" role="group">
										<button type="button" class="btn btn-default dog_btn-default">{{item}}</button>
		{{else if @last}}
										<button type="button" class="btn btn-default dog_btn-default">{{item}}</button>
								</div>
							</div>
						</div>
					</div>
			    </div>
		{{else}}
										<button type="button" class="btn btn-default dog_btn-default">{{item}}</button>
		{{/ifCond}}
	{{/each}}
	    <div class="row dog_row">
	    	<div class="col-xs-12 col-md-6">
	            <img src="http://4.bp.blogspot.com/-43T3mCL8mbo/UvKeNehiHDI/AAAAAAAAAVw/rp9sMt1XYJk/s1600/4+%25282%2529.png"></img>
	        </div>
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-info dog_panel-info">
					<div class="panel-heading">
						<h3 class="panel-title dog_panel-title">Random {{breed}}</h3>
					</div>
					<div class="panel-body">
						<div class="img_panel">
							<button id="{{index}}" type="button" class="btn btn-default move_left">
								<span><i class="glyphicon glyphicon-chevron-left"></i></span>
							</button>
							<a href="#" class="thumbnail dog_thumbnail">
								<img src="{{dog}}">
								</img>
							</a>
							<button id="{{index}}" type="button" class="btn btn-default move_right">
								<span><i class="glyphicon glyphicon-chevron-right"></i></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	    <div class="row dog_row">
			<div class="col-xs-12 col-md-12">
				<div class="panel panel-info dog_panel-info">
					<div class="panel-heading">
						<h3 class="panel-title dog_panel-title">{{breed}} photos</h3>
					</div>
					<div class="panel-body">
						{{#each breedImages.message as |item|}}
							<div class="col-sm-4 dog_box">
								<div class="dog_image_holder">
									<img src="{{item}}" class="dog_img"></img>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>