<div class="catalog_container">
	<div class="page-header dog_page-header" align="center">
		<div class="header_container">
	  		<h1><small class="catalog_header">Album: {{sub}} {{breed}} </small></h1>
	  	</div>
	</div>
	<div class="container">
	    <div class="row dog_row">
	    	<div class="col-xs-12 col-md-6">
	            <img src="img/dog.png"></img>
	        </div>
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-info dog_panel-info">
					<div class="panel-heading">
						<h3 class="panel-title dog_panel-title">{{sub}} {{breed}} preview</h3>
					</div>
					<div class="panel-body">
						<div class="img_panel">
							<a href="#" class="thumbnail dog_thumbnail">
								<img src="{{dog}}">
								</img>
							</a>
							<div class="btn-group" role="group">
								<button id="{{index}}" type="button" class="btn btn-default move_left">
									<span><i class="glyphicon glyphicon-chevron-left"></i></span>
								</button>
								<button id="{{index}}" type="button" class="btn btn-default move_right">
									<span><i class="glyphicon glyphicon-chevron-right"></i></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	    <div class="row dog_row">
			<div class="col-xs-12 col-md-12">
				<div class="panel panel-info dog_panel-info">
					<div class="panel-heading">
						<h3 class="panel-title dog_panel-title">{{sub}} {{breed}} photos</h3>
					</div>
					<div class="panel-body">
						{{#each breedImages.message as |item|}}
							<div class="col-sm-4 dog_box">
								<div class="dog_image_holder">
									<img src="{{item}}" class="dog_img"></img>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>
