<div class="catalog_container">
	<div class="page-header" align="center">
		<div class="header_container">
	  		<h1><small class="catalog_header">DoGGaG</small></h1>
	  	</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Random dog</h3>
					</div>
					<div class="panel-body">
						<div class="img_panel">
							<a href="#" class="thumbnail">
								<img src="{{rand.message}}">
								</img>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Breeds</h3>
					</div>
					<div class="panel-body">
						<div class="row">
						{{#each list.message as |item|}}
							{{#if @first}}
								<div class="col-xs-12 col-md-1">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-default">{{item}}</button>
							{{/if}}
							{{#if @last}}
										<button type="button" class="btn btn-default">{{item}}</button>
									</div>
								</div>
							{{else}}
								{{#if9th @index}}
										<button type="button" class="btn btn-default">{{item}}</button>
									</div>
								</div>
								<div class="col-xs-12 col-md-3">
									<div class="btn-group" role="group">
								{{else}}
										<button type="button" class="btn btn-default">{{item}}</button>
								{{/if9th}}
							{{/if}}
						{{/each}}
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>
